@font-face {
  font-family: "moon-light";
  src: url("../fonts/moon-light.otf");
}
@font-face {
  font-family: "moon-bold";
  src: url("../fonts/moon-bold.otf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: serif;
  color: #474e81;
}
p {
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: serif;
  color: #474e81;
}
p {
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
footer img {
  padding: 10px;
}
.landing {
  width: 100;
  background: #fef3f4;
  background-image: url(../img/landing_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.landing nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 0;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .landing nav {
    display: flex;
    flex-direction: row;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
  }
}
.landing nav a {
  color: #e77e48;
  text-decoration: none;
  font-family: "moon-bold", sans-serif;
  padding: 12px;
  font-size: 1.7em;
}
.landing nav .signup {
  color: #ffffff;
  background: #e77e48;
  background: linear-gradient(141deg, #e87c46 0%, #f0a985 100%);
  border-radius: 10px;
}
.landing .heading {
  display: flex;
}
@media screen and (max-width: 800px) {
  .landing .heading {
    display: flex;
    flex-direction: column;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
  }
}
.landing .heading div {
  display: flex;
  flex-direction: column;
  flex-wrap: no-repeat;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
}
.landing .heading div h1 {
  font-size: 6.5rem;
  font-family: "moon-bold";
  color: #e77e48;
  margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
  .landing .heading div h1 {
    font-size: 5.5rem;
  }
}
.landing .heading div h2 {
  font-size: 4.5rem;
  margin-bottom: 25px;
}
@media screen and (max-width: 500px) {
  .landing .heading div h2 {
    font-size: 3.5rem;
  }
}
.landing .heading div a {
  font-size: 2.5rem;
  color: #ffffff;
  background: #e77e48;
  background: linear-gradient(141deg, #e87c46 0%, #f0a985 100%);
  font-family: "moon-bold", sans-serif;
  border-radius: 10px;
  padding: 17px;
  text-decoration: none;
}
.landing .heading::after {
  content: "";
  position: relative;
  margin-left: -30%;
  width: 60%;
  height: 450px;
  background: url("../img/laptop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  .landing .heading::after {
    display: none;
  }
}
.features {
  width: 100%;
  background: #fed6d1;
}
.features article {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
}
.features article .images {
  width: 37%;
}
.features article .images img {
  width: 100%;
}
.features article .captureTheMoment {
  text-align: center;
}
.features article .captureTheMoment h2 {
  font-family: "moon-bold", sans-serif;
  font-size: 3.8rem;
  color: #e77e48;
}
.features article .captureTheMoment p {
  color: #474e81;
  font-size: 3.2rem;
  text-align: center;
  font-family: serif;
  margin-top: 40px;
  line-height: 1.2;
  letter-spacing: 1px;
}
@media screen and (max-width: 800px) {
  .features article .captureTheMoment h2 {
    font-size: 3.2rem;
  }
  .features article .captureTheMoment p {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 700px) {
  .features article {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
  }
  .features article .images {
    order: 1;
    width: 55%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .features article .images {
    width: 65%;
  }
}
.testimonials {
  width: 100%;
  background: #fef3f4;
  background-image: url(../img/testimonial_background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials .container {
  position: relative;
}
@media screen and (max-width: 500px) {
  .testimonials .container {
    padding: 0;
  }
}
.testimonials h2 {
  font-family: "moon-bold", sans-serif;
  color: #e77e48;
  font-size: 4.5rem;
  margin: 40px 0 50px;
  text-align: center;
}
.testimonials .testImg {
  width: 115px;
  height: 115px;
}
.testimonials .testText {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 66%;
  height: 115px;
  font-size: 1.4em;
  padding: 20px 10px;
  border-radius: 10px;
  margin-right: -40px;
}
.testimonials aside:nth-of-type(1) {
  z-index: 0;
  height: 150px;
  width: 450px;
  margin: -20px 0px;
  padding: 15px;
  background: #dc3766;
  border-radius: 30px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(1) {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .testimonials aside:nth-of-type(1) {
    width: 95%;
  }
}
.testimonials aside:nth-of-type(1) .testImg {
  background: url("../img/testimonial_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #ffffff;
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(1) .testImg {
    margin-left: -50px;
    margin-right: 15px;
  }
}
.testimonials aside:nth-of-type(1)::after {
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  background: #dc3766;
  position: relative;
  left: 40px;
  transform: scaleY(0.7) rotate(45deg);
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(1)::after {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(1)::after {
    content: "";
    z-index: -1;
    width: 40px;
    height: 40px;
    background: #dc3766;
    position: relative;
    left: 49px;
    transform: scaleY(0.7) rotate(45deg);
  }
}
@media screen and (max-width: 970px) and screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(1)::after {
    display: none;
  }
}
.testimonials aside:nth-of-type(2) {
  align-self: flex-end;
  z-index: 0;
  height: 150px;
  width: 450px;
  margin: -20px 0px;
  padding: 15px;
  background: #1d8ea3;
  border-radius: 30px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(2) {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .testimonials aside:nth-of-type(2) {
    width: 95%;
  }
}
.testimonials aside:nth-of-type(2) .testImg {
  background: url("../img/testimonial_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #ffffff;
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(2) .testImg {
    margin-left: -50px;
    margin-right: 15px;
  }
}
.testimonials aside:nth-of-type(2)::after {
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  background: #1d8ea3;
  position: relative;
  left: -410px;
  transform: scaleY(0.7) rotate(45deg);
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(2)::after {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(2)::after {
    content: "";
    z-index: -1;
    width: 40px;
    height: 40px;
    background: #1d8ea3;
    position: relative;
    left: -401px;
    transform: scaleY(0.7) rotate(45deg);
  }
}
@media screen and (max-width: 970px) and screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(2)::after {
    display: none;
  }
}
.testimonials aside:nth-of-type(3) {
  z-index: 0;
  height: 150px;
  width: 450px;
  margin: -20px 0px;
  padding: 15px;
  background: #df522d;
  border-radius: 30px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(3) {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .testimonials aside:nth-of-type(3) {
    width: 95%;
  }
}
.testimonials aside:nth-of-type(3) .testImg {
  background: url("../img/testimonial_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #ffffff;
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(3) .testImg {
    margin-left: -50px;
    margin-right: 15px;
  }
}
.testimonials aside:nth-of-type(3)::after {
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  background: #df522d;
  position: relative;
  left: 40px;
  transform: scaleY(0.7) rotate(45deg);
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(3)::after {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(3)::after {
    content: "";
    z-index: -1;
    width: 40px;
    height: 40px;
    background: #df522d;
    position: relative;
    left: 49px;
    transform: scaleY(0.7) rotate(45deg);
  }
}
@media screen and (max-width: 970px) and screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(3)::after {
    display: none;
  }
}
.testimonials aside:nth-of-type(4) {
  align-self: flex-end;
  z-index: 0;
  height: 150px;
  width: 450px;
  margin: -20px 0px;
  padding: 15px;
  background: #67b765;
  border-radius: 30px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(4) {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .testimonials aside:nth-of-type(4) {
    width: 95%;
  }
}
.testimonials aside:nth-of-type(4) .testImg {
  background: url("../img/testimonial_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #ffffff;
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(4) .testImg {
    margin-left: -50px;
    margin-right: 15px;
  }
}
.testimonials aside:nth-of-type(4)::after {
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  background: #67b765;
  position: relative;
  left: -410px;
  transform: scaleY(0.7) rotate(45deg);
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(4)::after {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(4)::after {
    content: "";
    z-index: -1;
    width: 40px;
    height: 40px;
    background: #67b765;
    position: relative;
    left: -401px;
    transform: scaleY(0.7) rotate(45deg);
  }
}
@media screen and (max-width: 970px) and screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(4)::after {
    display: none;
  }
}
.testimonials aside:nth-of-type(5) {
  z-index: 0;
  height: 150px;
  width: 450px;
  margin: -20px 0px;
  padding: 15px;
  background: #dc3766;
  border-radius: 30px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(5) {
    display: flex;
    flex-direction: row;
    flex-wrap: no-repeat;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(5) {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .testimonials aside:nth-of-type(5) {
    width: 95%;
  }
}
.testimonials aside:nth-of-type(5) .testImg {
  background: url("../img/testimonial_5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid #ffffff;
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(5) .testImg {
    margin-left: -50px;
    margin-right: 15px;
  }
}
.testimonials aside:nth-of-type(5)::after {
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  background: #dc3766;
  position: relative;
  left: 40px;
  transform: scaleY(0.7) rotate(45deg);
}
@media screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(5)::after {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  .testimonials aside:nth-of-type(5)::after {
    content: "";
    z-index: -1;
    width: 40px;
    height: 40px;
    background: #dc3766;
    position: relative;
    left: 49px;
    transform: scaleY(0.7) rotate(45deg);
  }
}
@media screen and (max-width: 970px) and screen and (max-width: 600px) {
  .testimonials aside:nth-of-type(5)::after {
    display: none;
  }
}
.landing .aboutTitle {
  display: flex;
  flex-direction: column;
  flex-wrap: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.landing .aboutTitle h1 {
  font-size: 6.5rem;
  font-family: "moon-bold", sans-serif;
  color: #e77e48;
  margin-bottom: 15px;
}
.landing .aboutTitle h2 {
  font-family: "moon-bold", sans-serif;
  font-size: 4.5rem;
  margin-bottom: 25px;
}
.aboutInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: no-repeat;
  justify-content: center;
  align-items: center;
  background: url("../img/about_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .aboutInfo section:nth-of-type(1) {
    padding-top: 40px;
  }
}
.aboutInfo section {
  display: flex;
  flex-direction: column;
  flex-wrap: no-repeat;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}
.aboutInfo section h1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: "moon-bold", sans-serif;
  color: #b44141;
  margin-bottom: 40px;
}
.aboutInfo section article {
  display: flex;
  flex-direction: row;
  flex-wrap: no-repeat;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .aboutInfo section article {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 500px) {
  .aboutInfo section article {
    display: flex;
    flex-direction: column;
    flex-wrap: no-repeat;
    justify-content: space-around;
    align-items: center;
  }
}
.aboutInfo section article div {
  order: 1;
  width: 60%;
}
.aboutInfo section article div h2 {
  font-family: "moon-bold", sans-serif;
  color: #302d2d;
  font-size: 3.5rem;
  margin-bottom: 25px;
}
.aboutInfo section article div p {
  font-size: 2.7rem;
  margin-bottom: 25px;
}
@media screen and (max-width: 500px) {
  .aboutInfo section article div {
    order: 2;
    width: 85%;
    border-bottom: 2px dashed #fed6d1;
  }
  .aboutInfo section article div h2 {
    margin-top: 20px;
  }
}
.aboutInfo section article .leftImg {
  order: 1;
}
.aboutInfo section article img {
  width: 35%;
}
@media screen and (max-width: 500px) {
  .aboutInfo section article img {
    width: 45%;
  }
}
.signInBackground header {
  display: flex;
  flex-direction: row;
}
