// Header Section --KD
.landing {
  width: 100;
  background: @color-background-light;
  background-image: url(../img/landing_background.png);
  background-repeat: no-repeat;
  background-size: cover;

  nav {
    width: 100%;
    .flexItems(row, no-repeat, flex-end, center);
    margin: 30px 0;
    padding: 5px;
    @media @mobile {
      .flexItems(row, no-repeat, center, center);
    }

    a {
      color: @color-heading;
      text-decoration: none;
      font-family: @font-heading;
      padding: 12px;
      font-size: 1.7em;
    }
    .signup {
      color: @color-white;
      .buttonGrad();
      border-radius: 10px;
    }
  }

  .heading {
    display: flex;
    @media @tablet {
      .flexItems(column, no-repeat, center, center);
    }
    div {
      .flexItems(column, no-repeat, flex-start, center);
      width: 550px;
      h1 {
        font-size: 6.5rem;
        font-family: "moon-bold";
        color: @color-heading;
        margin-bottom: 15px;
        @media @mobile {
          font-size: 5.5rem;
        }
      }
      h2 {
        font-size: 4.5rem;
        margin-bottom: 25px;
        @media @mobile {
          font-size: 3.5rem;
        }
      }
      a {
        font-size: 2.5rem;
        color: @color-white;
        .buttonGrad();
        font-family: @font-heading;
        border-radius: 10px;
        padding: 17px;
        text-decoration: none;
      }
    }
    &::after {
      content: "";
      position: relative;
      margin-left: -30%;
      width: 60%;
      height: 450px;
      background: url("../img/laptop.png");
      background-size: contain;
      background-repeat: no-repeat;
      @media @tablet {
        display: none;
      }
    }
  }
}
//  --KD

//Landing mid-section --AD
.features {
  width: 100%;
  background: @color-background-dark;

  article {
    margin-top: 40px;
    .flexItems(row, no-wrap, space-around, center);

    .images {
      width: 37%;
      img {
        width: 100%;
      }
    }

    .captureTheMoment {
      text-align: center;
      h2 {
        font-family: @font-heading;
        font-size: 3.8rem;
        color: @color-heading;
      }

      p {
        color: @color-text;
        font-size: 3.2rem;
        text-align: center;
        font-family: @font-body;
        margin-top: 40px;
        line-height: 1.2;
        letter-spacing: 1px;
      }
    }
  }

  // Media Sizes --KD
  @media @tablet {
    article {
      .captureTheMoment {
        h2 {
          font-size: 3.2rem;
        }
        p {
          font-size: 2.8rem;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    article {
      .flexItems(column, no-wrap, space-around, center);

      .images {
        order: 1;
        width: 55%;
        margin-top: 20px;
      }
    }
  }
  @media @mobile {
    article {
      .images {
        width: 65%;
      }
    }
  }
}
//  --AD

// Testimonial Section --KD
.testimonials {
  width: 100%;
  background: @color-background-light;
  background-image: url(../img/testimonial_background.png);
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    position: relative;
    @media @mobile {
      padding: 0;
    }
  }

  h2 {
    font-family: @font-heading;
    color: @color-heading;
    font-size: 4.5rem;
    margin: 40px 0 50px;
    text-align: center;
  }

  .testImg {
    width: 115px;
    height: 115px;
  }

  .testText {
    .flexItems(column, no-wrap, center, center);
    background: @color-white;
    width: 66%;
    height: 115px;
    font-size: 1.4em;
    padding: 20px 10px;
    border-radius: 10px;
    margin-right: -40px;
  }

  aside:nth-of-type(1) {
    .testBlock(#dc3766, 15px);

    .testImg {
      .backgroundImg(url("../img/testimonial_1.jpg"), cover, no-repeat);
      .border(5px,solid,@color-white, 100%);
      @media screen and (max-width: 600px) {
        margin-left: -50px;
        margin-right: 15px;
      }
    }

    &::after {
      .arrow(#dc3766, 40px);

      @media screen and (max-width: 970px) {
        .arrow(#dc3766, 49px);
      }
    }
  }

  aside:nth-of-type(2) {
    align-self: flex-end;
    .testBlock(#1d8ea3, 15px);

    .testImg {
      .backgroundImg(url("../img/testimonial_2.jpg"), cover, no-repeat);
      .border(5px,solid,@color-white, 100%);
      @media screen and (max-width: 600px) {
        margin-left: -50px;
        margin-right: 15px;
      }
    }

    &::after {
      .arrow(#1d8ea3, -410px);

      @media screen and (max-width: 970px) {
        .arrow(#1d8ea3, -401px);
      }
    }
  }

  aside:nth-of-type(3) {
    .testBlock(#df522d, 15px);

    .testImg {
      .backgroundImg(url("../img/testimonial_3.jpg"), cover, no-repeat);
      .border(5px,solid,@color-white, 100%);
      @media screen and (max-width: 600px) {
        margin-left: -50px;
        margin-right: 15px;
      }
    }

    &::after {
      .arrow(#df522d, 40px);

      @media screen and (max-width: 970px) {
        .arrow(#df522d, 49px);
      }
    }
  }

  aside:nth-of-type(4) {
    align-self: flex-end;
    .testBlock(#67b765, 15px);

    .testImg {
      .backgroundImg(url("../img/testimonial_4.jpg"), cover, no-repeat);
      .border(5px,solid,@color-white, 100%);
      @media screen and (max-width: 600px) {
        margin-left: -50px;
        margin-right: 15px;
      }
    }

    &::after {
      .arrow(#67b765, -410px);

      @media screen and (max-width: 970px) {
        .arrow(#67b765, -401px);
      }
    }
  }

  aside:nth-of-type(5) {
    .testBlock(#dc3766, 15px);

    .testImg {
      .backgroundImg(url("../img/testimonial_5.jpg"), cover, no-repeat);
      .border(5px,solid,@color-white, 100%);
      @media screen and (max-width: 600px) {
        margin-left: -50px;
        margin-right: 15px;
      }
    }

    &::after {
      .arrow(#dc3766, 40px);

      @media screen and (max-width: 970px) {
        .arrow(#dc3766, 49px);
      }
    }
  }
}
//  --KD
