.debug(@color) {
  border: 1px solid @color;
}

.buttonGrad() {
  background: @color-heading;
  background: linear-gradient(
    141deg,
    rgba(232, 124, 70, 1) 0%,
    rgba(240, 169, 133, 1) 100%
  );
}

.testimonialImg(@url) {
  background: url(@url);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 5px solid @color-white;
}

.testBlock(@color, @padding) {
  z-index: 0;
  height: 150px;
  width: 450px;
  margin: -20px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: @padding;
  background: @color;
  border-radius: 30px;
  transition: 0.2s;

  @media screen and (max-width: 970px) {
    justify-content: center;
    margin: 10px 40px;
  }
}

.arrow(@color, @left) {
  content: "";
  z-index: -1;
  width: 40px;
  height: 40px;
  background: @color;
  position: relative;
  left: @left;
  transform: scaleY(0.7) rotate(45deg);
}
.flexItems() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
